.ForgetPassword{
    background: url("./../img/BigBG.png") no-repeat center center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    /*justify-content: center;*/
}
.ForgetPasswordRow{
    background: #F9FBFE;;
    width: 35%;
    height: 45vh;
    margin: 2rem auto;
    border-radius: 10px;
    color: #173145;
    font-family: Open Sans;
    text-align: center;
    padding: 4rem 1rem;
}



