.MainContent{
    position: absolute;
    top: 5rem;
    left: 5rem;
    right: 0;
    bottom: 0;
    background: #F7FAFD;
    padding: 2rem;
}
.MainContent h1{
    text-align: center;
    margin-top: 20px;
}
