form{
    width: 350px !important;
}
form .input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #a6a6a6;
    margin: 1rem 0;
    padding: .5rem;
    outline: none;
    font-size: 16px;
}

form .agreeToRules{
    width: 10%;
}
.bgSignUp{
    background: url("./../img/bg1.png") no-repeat center center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}
.bgSignUp .logoWrap img{
    width: 15rem;
}
.headerLeftText {
    color: white;
    width: 70%;
    text-align: center;
    margin: 15vh auto;

}
.headerLeftText h1{
    font-size: 50px;
}
.headerLeftText p{
    font-size: 24px;
    margin-top: 3.5rem;
}
.headerRightText h2{
    font-size: 30px;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #173145;
    text-align: center;
}
.headerRightText{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25vh auto 0;
}
.headerRightText form label, .input{
    width: 100%;
}
.headerRightText .signUpBtn{
    margin: 1rem 25%;
    width: 50%;
}
.signUpBtn input{
    width: 100%;
}
/*icons size*/
.MuiSvgIcon-root{
    font-size: 1.3rem !important;
}
.makeStyles-root-1 .MuiTextField-root {
    width: 100%;
}
.MuiFormControl-root {
    margin: 10px 0 !important;
}
.agreeToRules{
    margin: 15px 0 0;
}
form .agreeToRules label {
    width: auto;
}
.btnSignUp{
    width: 70% !important;
    padding: .7rem !important;
    margin: 1.5rem 15% !important;
    border-radius: 3rem !important;
    font-size: 16px;
}
/*2slide*/
.headerRightTop{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 28vh auto 0;
}
.headerRightTop h2{
    font-size: 30px;
    margin-bottom: 5rem;
    font-weight: bold;
    color: #173145;
    text-align: center;
}
.headerRightTop p{
    text-align: center;
    font-size: 16px;
}
.headerRightBottom{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 12rem auto 0;
    text-align: center;
    font-size: 14px;
}
input[type='checkbox']{
    margin: 5px 10px 0 0;
}
input[type="submit"]{
    border-radius: 25px;
    border: none;
    outline: none;
    background: #30516A;
    color: white;
    width: 70%;
    margin: 15px 15%;
}

/*modal*/
.modal span{
    color: #0092FF;
}
.modalLink{
    text-decoration: underline;
    margin: 0 5px;
    background: none;
    border: none;
    outline: none;
    color: #0092FF;
}

/*error*/
span{
    padding: 0;
    color: red;
}

.signUpWraper a, .headerRightBottom a{
    color: #0092FF;
    text-decoration: underline;
    padding-left: 5px;
}




