body {
    overflow-y: hidden;
}
.bgSignUp{
    background-image: url("./../img/bg.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    /*justify-content: center;*/
}
.bgSignUp .logoWrap img{
    width: 15rem;
}
.headerLeftText {
    color: white;
    width: 30rem;
    text-align: center;
    margin: 15vh auto;

}
.headerLeftText h1{
    font-size: 3.5rem;
}
.headerLeftText p{
    font-size: 1.2rem;
    margin-top: 3.5rem;
}
.headerRightText h2{
    font-size: 3rem;
    color: #173145;
}
.headerRightText{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30vh auto 0;
}
.headerRightText form label, .input{
    width: 100%;
}
.headerRightText .signUpBtn{
    margin: 1rem 25%;
    width: 50%;
}
.signUpBtn input{
    width: 100%;
}
/*icons size*/
.MuiSvgIcon-root{
    font-size: 1.3rem !important;
}
.makeStyles-root-1 .MuiTextField-root {
    width: 100%;
}
.MuiFormControl-root {
    margin: 10px 0 !important;
}
.agreeToRules{
    margin: 15px 0;
}
.btnSignUp{
    width: 70% !important;
    padding: .7rem !important;
    margin: 1.5rem 15% !important;
    /*background: rgba(0, 52, 102, 0.6) !important;*/
    border-radius: 3rem !important;
    font-size: 16px;
    /*color: white !important;*/
}




/*2slide*/
.headerRightTop{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 28vh auto 25vh;
}
.headerRightTop h2{
    font-size: 3rem;
    color: #173145;
    margin-bottom: 85px;
}
.headerRightTop p{
    color: #30516A;
    text-align: center;
    font-size: 16px;
}
.headerRightBottom{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}
.headerRightBottomLinks a{
    /*margin: 13px;*/
    /*display: flex;*/
}
input[type='checkbox']{
    margin: 5px 10px 0 0;
}

/*modal*/
.modalLink{
    text-decoration: underline;
    margin: 0 5px;

}